$color-blue-one: #99ccff;
$color-green: #66cc66;
$color-red: #ba122b;
$color-blue-two: #5335eb;
$color-blue-three: #755def;
$color-black: #5b5a5a;
$color-grey: #b2b2b2;

@import '_base';

.nav-item .nav-link, main {
    color: $color-black;
}

.carousel-caption {
    height: 100%;
}

.row .padding {
    padding-left: 0;
    padding-right: 0;
}

.control-icon {
    background: #b2b2b2;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.needs-validation {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.underline {
    text-decoration: underline;
}

.underline:hover {
    text-decoration: none;
}

.conditions__margins {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

a > p {
    margin-bottom: 0rem;
}

.button > .btn {
    border-radius: 50px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: $color-blue-two;
}

.button > .btn:hover {
    background-color: $color-blue-three;
}